<h2>All Customers</h2>
<!--<form action='/customers' method='GET'>
    <label for='personalNum'>Personal Number:</label><br>
    <input type='text' name='personalNum' id='personalNum'>
    <button type='submit'>Search</button>
</form>-->
<br>
<table style='width:50%'>
    <tr>
        <th>Personal Number</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
<% customers.forEach(customer => { %>
    <tr>
        <td><%= customer.personal_number %></td>
        <td><%= customer.firstName %></td>
        <td><%= customer.lastName %></td>
        <td><a href='/customers/<%= customer.personal_number %>'>View</a></td>
        <td><a href='/customers/<%= customer.personal_number %>/update'>Edit</a></td>
        <td>
            <%- include('../partials/deleteForm', { url: `/customers/${customer.personal_number}`}) %>
        </td>
    </tr>
<% }) %>
</table>